@import "../../styles/styles";

.imageSignIn {
  position: relative;

  .userImage {
    grid-row: span 2;
    height: 50px;
    width: 50px;
    border-radius: 100%;

    &.withLogout {
      margin: 15px 15px 5px;
    }
    &.noLogout {
      margin: 15px 15px 25px;
    }

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
  .logoutBlock {
    background-color: $light-gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin: 0px 0px 10px 15px;
    cursor: pointer;

    &:hover {
      background-color: $right-color;
    }

    .logoutTitle {
      color: black;
    }
  }
  .colored-circle {
    position: absolute;
    left: 51px;
    bottom: 24px;
    border-radius: 50%;
    border: 1px solid green;
    width: 20px;
    height: 20px;
  }

  .checkmark {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 30%;
    top: 45%;
    height: 12px;
    width: 5px;
    border-bottom: 3px solid green;
    border-right: 3px solid green;
  }
}
