@forward "./../src/pages/chats/chat";
@import "./../src/pages/signImage/signimage";
@import "./../src/pages/chat-title/title";
@import "./../src/pages/destination/explore";
@import "./../src/pages/search/conversation";
@import "./../src/pages/chatInput/chatinput";
@import "./../src/pages/message/message";
@import "./../src/pages/sign-in/signin";
@import "./../src/pages/sign-up/signup";

html {
  height: 100%;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #f2f4f8;
  background: url("./assets/jpg/backRound.jpg");
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #4c616b;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

#root > div {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
